<div class="topcoat-navigation-bar">
    <button class="topcoat-navigation-bar__item topcoat-icon-button--quiet">
      <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
    </button>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Header</h1>
    </div>
    <button class="topcoat-navigation-bar__item topcoat-icon-button--quiet">
      <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
    </button>
</div>